  <ngx-datatable  class="material"
  [rows]="rows || []"  [loadingIndicator]="!rows"
  [columns]="(columns$ | async) || []"
  [columnMode]="columnMode"    [headerHeight]="50"
  [footerHeight]="50"
  rowHeight="auto"
  (select)="onSelect($event)"
  [footerHeight]="0"
  [selectionType]="selectionType"
  (sort)="onSort($event)"
  [externalSorting]="true"
  [reorderable]="true">
  <ng-template #imgTmpl let-row="row" let-value="value">
    <img  width="150" [src]="value" [alt]="row?.title" />
  </ng-template>
  <ng-template #favTmpl let-row="row" let-value="value">
    <mat-icon class="item-fav-icon" [style.color]="row.favorite ? 'orange' : 'lightgray'">start</mat-icon>
</ng-template>
<ng-template #removeTmpl let-row="row" let-value="value">
  <mat-icon (click)="onRemoveFavItem(row)" class="item-remove-icon">delete</mat-icon>
</ng-template>
  </ngx-datatable>
