:host {
  ngx-datatable {
    min-height: calc(100% - 90px);
  }

  .item-fav-icon {
    font-size: 34px;
    width: 34px;
    height: 34px;
    min-width: 34px;
    min-height: 34px;
    cursor: pointer;
  }

  .item-remove-icon {
    cursor: pointer;
  }

  ::ng-deep .item-cell {
    display: flex !important;
    align-items: center;
  }

  .datatable-header-inner {
    width: 100% !important;
  }

  .datatable-scroll {
    display: inherit !important;
  }

  .datatable-row-center {
    width: 100% !important;
  }

  .datatable-body-row {
    width: 100% !important;
  }
}
