<app-item-filter (filter)="onFilter($event)" [visibleFilter]="visibleFilter"></app-item-filter>
<app-item-datatable [rows]="rows$ | async" [visibleColumns]="visibleColumns" (sort)="onDatatableSort($event)" [selectionType]="selectionType" (selectItem)="onItemSelect($event)" (removeFavItem)="onItemSelect($event)"></app-item-datatable>
