:host {
  .dialog-title {
    padding: 0 15px 15px !important;
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mat-dialog-title {
      font: 600 16px Roboto, Helvetica Neue, Arial, sans-serif;
      margin: 0;
    }

    .close-button {
      padding-top: 0;

      .mat-button-focus-overlay {
        display: none;
      }

      &:hover .mat-button-focus-overlay {
        display: block;
      }
    }
  }

  app-item-manager {
    height: 70vh;
  }

  .mat-dialog-content {
    max-height: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }
}
