<div class="dialog-wrapper" #popupHeader>
<div class="dialog-title">
  <h2 mat-dialog-title>Favorite List</h2>
  <button aria-label="close" mat-icon-button mat-dialog-close class="close-button">
      <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content>
  <app-item-manager [visibleColumns]="visibleColumns" [visibleFilter]="visibleFilter" [selectionType]="selectionType" [baseFilter]="baseFilter"></app-item-manager>
</mat-dialog-content>
</div>
