@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.dialog-no-border {
  mat-dialog-container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    min-width: 70vw;
  }
}
