<form *ngIf="itemFilter" [formGroup]="itemFilter" (ngSubmit)="onSubmit()">
  <ng-container *ngIf="!itemFilter?.get('title')?.disabled">
  <mat-form-field class="title-field filter-field" [ngClass]="!hasFavoriteFlag() ? 'title-field-large' : ''">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput placeholder="">
  </mat-form-field>
</ng-container>
<ng-container *ngIf="!itemFilter?.get('description')?.disabled">
  <mat-form-field class="filter-field">
    <mat-label>Description</mat-label>
    <input formControlName="description" matInput placeholder="">
  </mat-form-field >
  </ng-container>
  <ng-container *ngIf="!itemFilter?.get('price')?.disabled">
  <mat-form-field class="filter-field">
    <mat-label>Max. Price</mat-label>
    <input formControlName="price" type="number" matInput placeholder="">
  </mat-form-field>
  </ng-container>
  <ng-container *ngIf="!itemFilter?.get('email')?.disabled">
  <mat-form-field class="filter-field">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="">
  </mat-form-field>
  </ng-container>
  <button submit class="submit-filter-button filter-field" mat-raised-button color="primary" [disabled]="itemFilter?.pristine">Filter</button>
</form>
