:host {
  form {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .filter-field {
      margin-left: auto;
      width: 10%;
    }
    .title-field {
      margin-left: 110px;
    }
    .title-field-large {
      margin-left: 1rem;
      width: 40%;
    }
    .submit-filter-button {
      margin-bottom: 1rem;
      padding-right: 2rem;
      padding-left: 2rem;
      margin-left: auto;
      margin-right: auto;
      width: 10%;
    }
  }
}
