<app-item-manager [visibleColumns]="visibleColumns"></app-item-manager>
<button aria-label="favorite" (click)="openFavoriteItemsDialog()" mat-fab class="favorite-floating-button" [disabled]="(itemManagerService.getFavoriteCount() | async) === 0">
  <mat-icon
    [matBadge]="itemManagerService.getFavoriteCount() | async"
    [matBadgeHidden]="(itemManagerService.getFavoriteCount() | async) === 0"
    matBadgePosition="below after"
    matBadgeOverlap="false"
    >start</mat-icon
  >
</button>
